LoginRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://fiscalgis.com.ar/solicitudDatos/request" 
xmlns:ns1="http://fiscalgis.com.ar/solicitudDatos/request"
version="1.0">
	<xs:element name="LoginRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="tipoDocumento" type="xs:string"/>
				<xs:element name="numeroDocumento" type="xs:string"/>
				<xs:element name="alias" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
