ServicioCliente.wsdl

<!--
 Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. 
-->
<!--
 Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. 
-->
<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://com.ar/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://com.ar/" name="ClienteWS">
	<types>
		<xs:schema xmlns:tns="http://com.ar/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://com.ar/">
			<xs:element name="Exception" type="tns:Exception"/>
			<xs:element name="obtenerCliente" type="tns:obtenerCliente"/>
			<xs:element name="obtenerClienteResponse" type="tns:obtenerClienteResponse"/>
			<xs:complexType name="obtenerCliente">
				<xs:sequence>
					<xs:element name="legajo" type="xs:int" minOccurs="0"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="obtenerClienteResponse">
				<xs:sequence>
					<xs:element name="return" type="tns:cliente" minOccurs="0"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="cliente">
				<xs:sequence>
					<xs:element name="apellido" type="xs:string" minOccurs="0"/>
					<xs:element name="identificacion" type="xs:int"/>
					<xs:element name="nombre" type="xs:string" minOccurs="0"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="Exception">
				<xs:sequence>
					<xs:element name="message" type="xs:string" minOccurs="0"/>
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
	</types>
	<message name="obtenerCliente">
		<part name="parameters" element="tns:obtenerCliente"/>
	</message>
	<message name="obtenerClienteResponse">
		<part name="parameters" element="tns:obtenerClienteResponse"/>
	</message>
	<message name="Exception">
		<part name="fault" element="tns:Exception"/>
	</message>
	<portType name="MiWs">
		<operation name="obtenerCliente">
			<input message="tns:obtenerCliente" wsam:Action="http://com.ar/MiWs/obtenerClienteRequest"/>
			<output message="tns:obtenerClienteResponse" wsam:Action="http://com.ar/MiWs/obtenerClienteResponse"/>
			<fault name="Exception" message="tns:Exception" wsam:Action="http://com.ar/MiWs/obtenerCliente/Fault/Exception"/>
		</operation>
	</portType>
	<binding name="MiWsPortBinding" type="tns:MiWs">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="obtenerCliente">
			<soap:operation/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="Exception">
				<soap:fault name="Exception" use="literal"/>
			</fault>
		</operation>
	</binding>
	<service name="ClienteWS">
		<port name="MiWsPort" binding="tns:MiWsPortBinding">
			<soap:address location="http://m010cpu00-325:8080/EjemploException/ClienteWS"/>
		</port>
	</service>
</definitions>
